extends layout

block content
    h1= title
    small= subtitle

    p
      a(href='/') Back to the menu

    h2 Documentation de la mission OpenTraining
    
    p
      a(href='https://tinyurl.com/veaf-ot') https://tinyurl.com/veaf-ot

    h2 Liste des commandes

    each alias in data
      h3= alias.name
      p= alias.description
      if !alias.bypassSecurity
        i This is a secured alias
      p
      button(type="button" class="collapsible") Details
      div(class="content")
        p Aliased command:
        code= alias.veafCommand
        if(alias.randomParameters.length)
          p Randomized parameters:
          ul
          each param in alias.randomParameters
            li #{param.name}  [#{param.low} .. #{param.high}]
      hr

