extends layout

block content
    h1= title
    small= subtitle

    p
      a(href='/') Retour au menu principal

    h2 Liste des commandes

    each alias in data
      h3= alias.name
      p= alias.description
      if !alias.bypassSecurity
        i(style="color:red") Cet alias est sécurisé
      else
        i(style="color:green") Cet alias est ouvert à tous
      p
      button(type="button" class="collapsible") Détails
      div(class="content")
        p Commande ciblée:
        code= alias.veafCommand
        if(alias.randomParameters && alias.randomParameters.length)
          p Paramètres randomisés:
          ul
          each param in alias.randomParameters
            li #{param.name} (entre #{param.low} et #{param.high})
      hr

