extends layout

block content
    h1= title
    small= subtitle
    
    p
      a(href='/') Retour au menu principal

    h2 Les missions peuvent être déclenchées par des membres, en utilisant le chat (attention, il doit être en mode "tous" et pas "alliés") :
    ul
      li Démarrer une mission : 
        code /air start <MISSION> [silent] 
      li Arrêter une mission : 
        code /air stop <MISSION> [silent] 
      li Lister les mission : 
        code /air list

    each mission in data
      h2= mission.name
      p= mission.briefing
      button(type="button" class="collapsible") Variantes
      div(class="content")
        if(mission.variants.length)
          ul
          each missionVariant in mission.variants
            li= missionVariant.name
            ul
              li
                code(onclick="copyElementText(this.id)", id="_code start #{missionVariant.name}", class="copiable") /air start #{missionVariant.name} [silent]
              li 
                code(onclick="copyElementText(this.id)", id="_code stop #{missionVariant.name}", class="copiable") /air stop #{missionVariant.name} [silent]
      hr

